body, html {
    /* Settings maxheight instead of
    height property gets rid of
    the scrollbar */
    /* max-height: 100%; */
    height: 100%;
    margin: 0;
    background-color: #111517;
}

html {
    font-family: 'Karla', sans-serif;
}

body {	
    display: grid;
}

.wrapper1 {
    display: grid;
    grid-template-columns: 2fr 1fr;	
    /* TODO: This needs to be more specific
    now its just a couple pixels
    under the navbar 
    94 is more specific, but it needs
    to be % or something similar*/
    margin-top: 94px;
    height: 100%;
}

.container {
    height: 100%;
}

.box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #202020;
    color: #f2f2f2;
}

.desciption h1 {
    font-size: 50px;
}

button {
    border: none;
    height: 50px;
    width: 150px;
    margin: 10px;
}

.box2 {
    /* height: 100%; */
    /* align-self: center;
    justify-self: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111517;
}

.poster {
    height: 80%;
    width: 80%;
    border-radius: 8px;
    /* FIXME: Is there a better 
    solution to this min-width
    property? */
    min-width: 400px;
}

.animation-settings {
    animation-duration: .7s;
    animation-delay: 2.5s;
}