html, body {
    height: 100%;
    margin: 0;
}

body{
    display: grid;
    font-family: 'Raleway', sans-serif;

    /*Setting the starting background */
    background-color: #ff7431;
    /*Linking the animation to the body of the HTML*/
    animation: colorcycle 15s infinite;
  }

  #text {
    align-self: center;
    justify-self: center;
    text-align: center;
    color: #9331ff;
    animation: colorcycle-reverse 15s infinite;
  }

  h1 {
      font-size: 75px;
  }

  h2{
      font-size: 30px;
      font-weight: 400;
  }
  
  @keyframes colorcycle{
    /*at 50% the color reaches this color*/
    50%{
      background: #9331ff;
    }
    /*at 100% the color is back at the starting color*/
    100%{
      background: #ff7431;
    }
  }

  @keyframes colorcycle-reverse{
    /*at 50% the color reaches this color*/
    50%{
      color: #ff7431;
    }
    /*at 100% the color is back at the starting color*/
    100%{
      color: #9331ff;
    }
  }

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 37.5px;
    }
  
    h2{
        font-size: 15px;
    }
}