/* 
top margin is 25px
right margin is 50px
bottom margin is 75px
left margin is 100px

top and bottom margins are 25px
right and left margins are 50px
*/

html {
	/* TODO: Check if lines 13+14 can be removed */
	/* margin: 100px; */
	/* margin-top: 0px; */
	font-family: 'Karla', sans-serif;
}

.content {
	margin: 100px auto;
	max-width: 70em;
}

body {
	/* FIXME: setting margin 0 gets 3 columns on ipad.. */
	margin: 0;
	/* max-width: 56em; */
	display: grid;
	background-color: #111517;
}

body h1 {
	margin-top: 0;
	font-size: 5em;
	color: #f2f2f2;
}

#header-text {
	margin-top: 100px;
}

h1 .vibe-color {
	color: #E6B31E;
}

.preloader h1 {
    font-family: 'Bungee Shade', cursive;
}

a.vibe-box {
	color: #f2f2f2;
	text-decoration: none;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-auto-rows: minmax(150px, auto);
	grid-gap: 2em;
}

.vibe-box {
	background: #202020;
	color: #f2f2f2;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	border-radius: 8px;
	font-weight: bold;
	font-size: 30px;
	/* TODO: Check if this webkit can be removed */
	-webkit-transition: .2s ease-in-out; /* Safari */
	transition: .2s ease-in-out;
}

.vibe-box:hover {
	background-color: #E6B31E;
	cursor: pointer;
	transform: translateX(-10px);
}

.animation-settings {
  	animation-duration: .7s;
	animation-delay: 2.5s;
}

/* Footer */
footer {
	font-weight: bold;
	font-size: 25px;
	color: #f2f2f2;
	/* TODO: Needs to be more specific */
	margin-top: 25px;
}

footer .heart {
	/* TODO: Check if heart color is working */
    color: #f02b67;
}

/* Smaller screens */
@media screen and (max-width: 1200px) {
	
	.content {
		margin: 0 50px 50px 50px;
	}
	
}

@media screen and (max-width: 900px) {
	
	body h1 {
		font-size: 4em;
	}

}

@media screen and (max-width: 600px) {
	
	body h1 {
		font-size: 3em;
		margin-bottom: 40px;
	}

	.content {
		margin: 30px;
		margin-top: 0px;
	}

}