html, body {
  margin: 0;
}

.overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  
  background: #111517;
  color: #f2f2f2;
  font-weight: bold;
  text-align: center;
}

.text {
  height: 100%;
  display: grid;
}

ul {
  align-self: center;
  justify-self: center;
  padding: 0;
}

ul li{
  list-style-type: none;
  margin: 20px 0;
  font-size: 30px;
  transition: all 0.3s ease;
  cursor: pointer;
}

ul:hover li:hover {
  transform: translateX(-10px);
}

a.nav-link {
  text-decoration: none;
  color: #f2f2f2;
}

a.nav-link:hover {
  color: #FFCD3C;
}

/* Navbar area */
#navbar {
  background-color: #111517;
	display: flex;
	align-items: center;
	justify-content: space-between;
  /* sticky navbar */
  position: fixed;
  z-index: 9999;
  width: 100%;
  /* Padding to increase the size of the navbar */
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Padding for the logo and menu-icon */
.navbar-menu {
  padding-right: 20px;
}

.navbar-logo {
  padding-left: 35px;
}

a.logo {
  color: #f2f2f2;
  font-family: 'Bungee Shade', cursive;
  text-decoration: none;
  font-size: 20px;
  /* margin-left: 10px; */
}

#icon, a.logo {
  display: flex;
	align-items: center;
	justify-content: center;
  transition: .2s ease-in-out;
}

#icon:hover, a.logo:hover {
  color: #E6B31E;
  cursor: pointer;
}

button#icon {
  color: white;
  /* Removing the outline when clicked */
  outline:none;
  
}