/* Preloader */
.preloader {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #111517;

	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	right: 0;
  bottom: 0;	
}

.preloader h1 {
	/* animation: jello-horizontal 0.9s infinite both; */
	animation: heartbeat 1.5s ease-in-out infinite both;
  font-size: 85px;
  color: #FFCD3C;
}

@media screen and (max-width: 600px) {
	.preloader h1 {
		font-size: 65px;
	}
}

 @keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}