@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

*{
    font-family: 'Raleway', sans-serif;
    height: 100%;
}

body {
    background: rgb(218,57,135);
    background: linear-gradient(90deg, rgba(218,57,135,1) 0%, rgba(231,56,87,1) 50%);
}

h1{
    font-size: 50px;
    color: white;
    display: grid;
    justify-content: center;
    align-content: center;
}